@model MobellaEventsForms.ViewModels.ClientInfoRequest

@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_FormsLayout.cshtml";
}

<h2>To receive more information about our wedding planning and coordination services, please provide the following information:</h2>

@using (Html.BeginForm("Form", "Show", new { clientId = Request.Params["clientId"] }))
{
    <fieldset>
        <legend>About You</legend>
        <p>About You</p>

        @Html.LabelFor(i => i.PrimaryContact)
        @Html.DropDownListFor(i => i.PrimaryContactTitle, new SelectList(Enum.GetNames(typeof(MobellaEventsForms.Models.Title)), MobellaEventsForms.Models.Title.Bride.ToString()))
        @Html.EditorFor(i => i.PrimaryContact)
        @Html.ValidationMessageFor(i => i.PrimaryContact)

        @Html.LabelFor(i => i.Fiance)
        @Html.DropDownListFor(i => i.FianceTitle, new SelectList(Enum.GetNames(typeof(MobellaEventsForms.Models.Title)), MobellaEventsForms.Models.Title.Groom.ToString()))
        @Html.EditorFor(i => i.Fiance)
        @Html.ValidationMessageFor(i => i.Fiance)

        @Html.LabelFor(i => i.Phone)
        @Html.EditorFor(i => i.Phone)
        @Html.ValidationMessageFor(i => i.Phone)

        @Html.LabelFor(i => i.Email)
        @Html.EditorFor(i => i.Email)
        @Html.ValidationMessageFor(i => i.Email)
    </fieldset>

    <fieldset>
        <legend>Your Wedding</legend>
        <p>Your Wedding</p>

        @Html.LabelFor(i => i.WeddingDate)
        @Html.EditorFor(i => i.WeddingDate)
        @Html.ValidationMessageFor(i => i.WeddingDate)

        @Html.LabelFor(i => i.WeddingLocations)
        @Html.EditorFor(i => i.WeddingLocations)
        @Html.ValidationMessageFor(i => i.WeddingLocations)

        @Html.LabelFor(i => i.NumberOfGuests)
        @Html.EditorFor(i => i.NumberOfGuests)
        @Html.ValidationMessageFor(i => i.NumberOfGuests)
    </fieldset>

    <fieldset>
        <legend>Services of Interest</legend>
        <p>Services of Interest</p>

        @Html.EditorFor(i => i.GettingStarted)
        @Html.LabelFor(i => i.GettingStarted)

        @Html.EditorFor(i => i.WrappingItUp)
        @Html.LabelFor(i => i.WrappingItUp)

        @Html.EditorFor(i => i.DayOfCoordination)
        @Html.LabelFor(i => i.DayOfCoordination)

        @Html.EditorFor(i => i.LiteCoordination)
        @Html.LabelFor(i => i.LiteCoordination)

        @Html.EditorFor(i => i.FullServiceCoordination)
        @Html.LabelFor(i => i.FullServiceCoordination)

        @Html.EditorFor(i => i.CandyBuffet)
        @Html.LabelFor(i => i.CandyBuffet)

        @Html.EditorFor(i => i.SignUp)
        @Html.LabelFor(i => i.SignUp)

        @Html.EditorFor(i => i.PriceList)
        @Html.LabelFor(i => i.PriceList)

        @Html.LabelFor(i => i.AdditionalQuestions)
        @Html.EditorFor(i => i.AdditionalQuestions)
    </fieldset>
    
    <input type="submit" value="Next"/>
    @Html.ActionLink("Cancel", "Index")
}