<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @*Styles.Render("~/Content/css")*@
        <link rel="stylesheet" href="@Url.Content("~/Content/normalize.css")" />
        <link rel="stylesheet" href="@Url.Content("~/Content/Forms.css")" />
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <table id="body">
            <thead>
                <tr>
                    <th id="header">
                        @RenderSection("header", false)
                    </th> 
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @* Move table and form views to a new controller *@
                        <table class="form">
                            <tbody>
                                <tr>
                                    <td class="form-cell">
                                        @RenderBody()
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="form-buttons-cell">
                                        <div class="buttonset">
                                            @RenderSection("FormButtons", required:false)
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/knockout-2.1.0.js")
        @RenderSection("scripts", false)
    </body>
</html>
