@model IEnumerable<MobellaEventsForms.Models.ClientInfoModel>

@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    @foreach (var clientInfo in Model)
    {
        <p>
            @Html.DisplayFor(client => clientInfo)
            @Html.DisplayFor(client => clientInfo.Interests)
            @Html.DisplayFor(client => clientInfo.ScheduleConsultation)
            @Html.DisplayFor(client => clientInfo.ScheduleConsultation.DaysOfTheWeek)
            @Html.DisplayFor(client => clientInfo.ScheduleConsultation.TimesOfTheDay)
        </p>
    }
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>